<a class="<%= typeof buttonClass !== 'undefined' ? buttonClass : 'cta' %>" 
   href="<%= (typeof href !== 'undefined' && href) ? href : ((typeof preview !== 'undefined' && preview) ? '#' : '/go/' + presell.slug + (typeof trackingQuery !== 'undefined' ? trackingQuery : '')) %>">
  <%= (typeof ctaText !== 'undefined' && ctaText) ? ctaText : (presell.cta_text || 'Continuar') %>
</a>
